---
const today = new Date();
---

<footer>
	<p>&copy; {today.getFullYear()} De Marianum Quam Satis. All rights reserved.</p>
	<p class="subtext">
		Receive new reflections via <a href="/rss.xml">RSS</a> or share a note at
		<a href="mailto:hello@demarianumquamsatis.com">hello@demarianumquamsatis.com</a>.
	</p>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.subtext {
		max-width: 26em;
		margin: 0.5em auto 0 auto;
	}
	a {
		color: inherit;
	}
	a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
